<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusMarket">
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".StartGetInfo"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RewriteProductActivity"
            android:exported="false" />
        <activity
            android:name=".FinishSellActivity"
            android:exported="false" />
        <activity
            android:name=".MarketListActivity"
            android:exported="false" />
        <activity
            android:name=".MyMarketDetail"
            android:exported="false" />
        <activity
            android:name=".SellDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SellActivity"
            android:exported="false" />
        <activity
            android:name=".MyMarketActivity"
            android:exported="false" />
        <activity
            android:name=".LockerMapActivity"
            android:exported="false" />
        <activity
            android:name=".MyTimeTableActivity"
            android:exported="false" />
        <activity
            android:name=".MypageListActivity"
            android:exported="false" />
        <activity
            android:name=".MypageActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ChattActivity"
            android:exported="false" />
        <activity
            android:name=".UserMarketActivity"
            android:exported="false" />
        <activity
            android:name=".MarketActivity"
            android:exported="false" />
    </application>

</manifest>